<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Napló</title>
        <link rel="stylesheet" href="/node_modules/js-datepicker/dist/datepicker.min.css">
        <link rel="stylesheet" type="text/css" href="/css/main.css">

        <script
                src="https://code.jquery.com/jquery-3.3.1.min.js"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
                crossorigin="anonymous"></script>
        <script
                src="https://code.jquery.com/jquery-migrate-3.0.1.min.js"
                integrity="sha256-F0O1TmEa4I8N24nY0bya59eP6svWcshqX1uzwaWC4F4="
                crossorigin="anonymous"></script>

        <% if(typeof slickOn !== "undefined"){ %>
            <link rel="stylesheet" type="text/css" href="/css/slick.css"/>
            <link rel="stylesheet" type="text/css" href="/css/slick-theme.css"/>
            <script type="text/javascript" src="/js/slick.min.js"></script>
        <% } %>

        <script type="text/javascript" src="/js/general.js"></script>
        <% if(typeof vars !== "undefined"){ %>
            <% if(typeof vars.datepOn !== "undefined"){ %>
                <script src="/node_modules/js-datepicker/src/datepicker.js"></script>
            <% } %>
            <% if(typeof vars.jsFile !== "undefined"){ %>
                <script type="text/javascript" src="/js/<%= vars.jsFile %>"></script>
            <% } %>
        <% } %>

    </head>
    <body <%= typeof hatter !== 'undefined' ? 'class='+hatter : "" %>>
    <nav class="navbar navbar-default">
        <!--<div class="navbar-header">-->
            <!--<a class="navbar-brand" href="/">Napló</a>-->
        <!--</div>-->
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav main-menu">
                <li><a class="btn menu" href="/">Kezdőlap</a></li>
                <li><a class="btn menu" href="/pergetonaplo">Pergetőnapló</a></li>
                <li><a class="btn menu" href="/mucsali">Műcsalik</a></li>
                <li><a class="btn menu" href="/kep">Képek</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <% if(!currentUser){ %>
                    <li><a class="btn btn-yellow" href="/login">Bejelentkezés</a></li>
                    <li><a class="btn btn-yellow" href="/register">Regisztáció</a></li>
                <% } else { %>
                    <li><a class="btn btn-yellow" href="#">Üdv, <%= currentUser.username %></a></li>
                    <li><a class="btn btn-yellow" href="/logout">Kijelentkezés</a></li>
                <% } %>
            </ul>
        </div>
    </nav>
    <div class="container">
        <% if(errorMes && errorMes.length > 0){ %>
        <div class="alert alert-danger" role="alert">
             <%=errorMes%>
        </div>
        <% } %>
        <% if(successMes && successMes.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%=successMes%>
        </div>
        <% } %>
    </div>