<%- include("../_partials/header", {hatter: "hatter"})  %>
<div class="form-container">
    <div class="title">Módosítás</div>
    <form class="hidden" action="/mucsali/delete" method="POST">
        <input type="hidden" name="id" value="<%= mucsali._id %>" />
        <input type="submit" id="delete"/>
    </form>
    <form action="/mucsali/edit" method="POST" enctype="multipart/form-data">
        <img src="/assets/images/trash.png" class="delete-btn" />
        <input type="hidden" name="id" value="<%= mucsali._id %>" />
        <div class="name"><%= mucsali.marka+" "+mucsali.tipus %></div>
        <div class="edit-image">
            <img src="/uploads/mucsalik/<%= mucsali.kepUrl %>" />
        </div>

        <div class="flex-group kep">
            <div class="form-group">
                <label for="photo">Kép:</label>
                <div class="form-control fake-input">
                    <div id="fileName"><%= mucsali.kepUrl %></div>
                    <img src="/assets/images/attach.png" class="attach-icon"/>
                </div>
                <input id="fileInput" class="form-control file" type="file" accept="image/jpg" name="photo">
            </div>
            <div class="form-group">
                <label for="sorszam">Sorszám:</label>
                <input class="form-control sm" type="text" name="mucsali[sorszam]" value="<%= mucsali.sorszam %>">
            </div>
        </div>

        <div class="form-group">
            <label for="mucsali[marka]">Márka:</label>
            <input class="form-control" type="text" name="mucsali[marka]" value="<%= mucsali.marka %>">
        </div>

        <div class="form-group">
            <label for="mucsali[tipus]">Típus:</label>
            <input class="form-control" type="text" name="mucsali[tipus]" value="<%= mucsali.tipus %>">
        </div>

        <div class="flex-group">
            <div class="form-group">
                <label for="halak[bal]">Balin<%= mucsali.halak.bal !== null ? ' ('+mucsali.halak.bal+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[bal]" value="">
            </div>

            <div class="form-group">
                 <label for="halak[bod]">Bodorka<%= mucsali.halak.bod !== null ? ' ('+mucsali.halak.bod+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[bod]" value="">
            </div>
        </div>

        <div class="flex-group">
            <div class="form-group">
                <label for="halak[cs]">Csuka<%= mucsali.halak.cs !== null ? ' ('+mucsali.halak.cs+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[cs]" value="">
            </div>

            <div class="form-group">
                <label for="halak[dom]">Domolykó<%= mucsali.halak.dom !== null ? ' ('+mucsali.halak.dom+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[dom]" value="">
            </div>
        </div>
        <div class="flex-group">
            <div class="form-group">
                <label for="halak[har]">Harcsa<%= mucsali.halak.har !== null ? ' ('+mucsali.halak.har+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[har]" value="">
            </div>

            <div class="form-group">
                <label for="halak[sug]">Sügér<%= mucsali.halak.sug !== null ? ' ('+mucsali.halak.sug+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[sug]" value="">
            </div>
        </div>

        <div class="flex-group">
            <div class="form-group">
                <label for="halak[sul]">Süllő<%= mucsali.halak.sul !== null ? ' ('+mucsali.halak.sul+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[sul]" value="">
            </div>

            <div class="form-group">
                <label for="halak[th]">Törpeharcsa<%= mucsali.halak.th !== null ? ' ('+mucsali.halak.th+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[th]" value="">
            </div>
        </div>
        <div class="flex-group">
            <div class="form-group">
                <label for="halak[vor]">Vörösszarnyú<%= mucsali.halak.vor !== null ? ' ('+mucsali.halak.vor+')' : '' %></label>
                <input class="form-control sm" type="text" name="halak[vor]" value="">
            </div>
        </div>
        <div class="form-group">
            <label for="halak[egyeb]">Egyéb:</label>
            <input class="form-control" type="text" name="halak[egyeb]" value="<%= mucsali.halak.egyeb %>">
        </div>

        <input class="press-enter" type="submit" value="Módosítás">
    </form>
</div>
<% include ../_partials/footer %>